.footer-container {
    display: flex;
    justify-content: space-evenly;
    min-height: 20vh;
    background-color: #617C7C;
    color: white;
}

.footer-nav {
    width: 100%;
    max-width: 60vw;
    display: flex;
    justify-content: space-evenly;
    padding: 5rem;
}

.footer-nav-menu {
    padding: 10px;
}
.footer-info-menu {
    padding: 10px;
}

.footer-nav-menu h2{
    font-family: "Montserrat", sans-serif;
    font-size: 1.25em;
}

#menu-footer-nav-menu li {
    padding-top: 1rem;
}

#menu-footer-nav-menu li a {
    color: white;
}

.footer-info-menu h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.25em;
}

#menu-footer-info-menu li {
    padding-top: 1rem;
}

#menu-footer-info-menu li a {
    color: white;
}

.footer-name {
    width: 50%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.footer-name h2 {
    font-family: "Montserrat", sans-serif;
    margin: 0 auto;
}