#header-nav {
    display: flex;
    justify-content: space-around;
  }
  
  #menu-header-menu {
    display: flex;
  }

#menu-header-menu {
    display: flex;
}

#menu-header-menu-1 {
    display: flex;
}

.menu-item-has-children {
  position: relative;
  
}

.menu-item-has-children:hover .sub-menu{
  display: block;
}

.sub-menu {
  display: none;
  position: absolute;
}

.menu-item-object-product_cat {

}