.shops {
  background-color: #bfc7c7;
}

.shops-header {
  margin-top: 5rem;
  text-align: center;
  font-size: 2em;
}

.shops-section {
  margin-top: 2rem;
  margin-bottom: 8rem;
}

.shops-array {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.shop-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 250px;
  padding: 2rem;
  margin: 1rem;
}

.shop-name {
  margin-bottom: 3rem;
}
