.categories-wrapper {
    display: flex;
    flex-direction: column;
    padding: 6%;
    background-color: #bfc7c7;
}

.categories-intro {
    width: 50%;
    margin-bottom: 10rem;
    
}

.categories-intro h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
}

.categories-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.category {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 3%;
}

.category-image a img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.category-image {
    max-height: 300px;
}

.category-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
}

.category-name {
    margin-top: 1rem;
}

.category-description {
    margin-top: 1rem;
}

.category-link {
    margin-top: 1rem;
    color: rgb(110, 109, 109);
}

