.our-vision {
  background-color: #bfc7c7;
  width: 100%;
  border: solid red 1px;
}

.vision-header-div {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.vision-header {
  text-align: center;
  font-size: 2rem;
}

.vision-text {
  width: 100%;
  margin: 4rem auto;
  padding: 0 25px;
  max-width: 700px;
}

.vision-button-div {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}

.vision-button {
  background-color: #617c7c;
  padding: 15px 35px;
  min-width: 100px;
  color: white;
}
