.random-products-container {
    display: flex;
    flex-direction: column;
}

.random-products-container li {
    list-style: none;
}

.random-product {
    width: 100vw;
    display: flex;
}

.random-product-text {
    width: 50%;
    padding: 6rem 15rem 10rem 10rem;
}

.random-product-title{
    margin-bottom: 2rem;
}

.random-product-title-small {
    margin-bottom: 8rem;
}

.random-product-excerpt {
}

.random-product-thumbnail {
    width: 50%;
    display: flex;
    align-items: center;
    background-color: #bfc7c7;
}

.random-product-thumbnail img {
    width: 100%;
    object-fit: contain;
}

.random-product-button-div {
    display: flex;
    justify-content: left;
    margin-top: 4rem;
  }
  
  .random-product-button {
    background-color: #617c7c;
    padding: 15px 35px;
    min-width: 100px;
    color: white;
  }