.account-header {
  min-height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.woocommerce-account #wrapper #header h1 {
  color: black;
}

.woocommerce-account #wrapper #header a {
  color: black;
}

.woocommerce-account #wrapper #header #header-nav .header-search-cart svg path {
  fill: black;
}

/*  my account content covers entire page */
div.woocommerce .woocommerce-MyAccount-content {
  float: none;
  width: 100%;
}

.my-account-page {
  margin: 6rem auto 0 auto;
  border: 1px solid blue;
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.account-title {
  margin-bottom: 5rem;
}

.account-orders {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.account-orders h2 {
  font-size: 1em;
  margin-bottom: 1rem;
}

.account-orders table.shop_table {
  border: 1px solid gray;
}
