.product-thumbnail a img {
  min-width: 80px;
  height: auto;
}

.product-name a {
  color: #353434;
}

.product-info {
  display: flex;
  flex-direction: column;
}

.posted_in,
.posted_in a {
  color: #c4c4c4;
  font-size: 0.8rem;
}

.amount {
  color: #617c7c;
  font-size: 0.8rem;
}
