/* need to change to your own ID */
#wpforms-257 {
  width: 100%;
  max-width: 700px;
  margin-bottom: 7rem;
}

#wpforms-form-257 label {
  font-size: 0.75rem;
  font-weight: 200;
}

#wpforms-form-257 button {
  background-color: #617c7c;
  position: relative;
  float: right;
  color: white;
  padding: 0.5rem 2.5rem;
}
